.gray-card-bg {
    width: 75%; 
    background-color: #F6F6F6; 
    padding: 56px;
    border-top-right-radius: 80px;  
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    
} 


.gray-main-head {
    font-family: sans-serif; 
    font-size: 25px ;
    color: #0b0b0b;
    margin-bottom:  24px;
}

.gray-para {
    font-family: 16px; 
    font-family: sans-serif; 
    color: #0b0b0b; 

}

.gray-card {
    margin-bottom:  24px;
}

.gray-head {
    font-family: 18px; 
    font-family: sans-serif; 
    color: #0b0b0b; 

} 

.gray-butt {
    width: 220px; 
    height: 60px; 
    font-family: sans-serif; 
    background-color: #2015FF; 
    color: #ffffff; 
    font-family: 16px; 
    padding: 0px 20px 0px 24px;
    border-radius: 5px; 
    border: 0px solid #2015FF;
}

